$primary-color-dark:   #0097A7;
$primary-color:        #00BCD4;
$primary-color-light:  #B2EBF2;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$background-gray: #f0f0f0;
$background-gray-dark: #e6e6e6;


$color_gray_light: rgb(248, 248, 248);
$color_gray_medium: rgb(225, 225, 225);
$color_gray_dark: rgb(163, 163, 163);
$color_gray_dark_text: rgb(121, 121, 121);

:export { color_gray_light: $color_gray_light }
:export { color_gray_medium: $color_gray_medium }
