@import '../../Styles/core/_colors.scss';

.list {
  display: flex;
  flex-direction: column;
  height: 100%;

  .container {
    display: flex;
    flex-direction: row;
    flex: 1;
    z-index: 1;

    .items {
      box-shadow: -2px 1px 4px -3px #000;
      width: 100%;
      position: relative;
    }
  }
}

.map {
  width: 100%;
  height: 180px;
  box-shadow: 0 0 1px 0 #000;
  z-index: 2;
  border-bottom: 0.5px solid #e6e6e6;
}

.item {
  position: relative;
  padding: 16px;
  cursor: pointer;
  border-bottom: 0.5px solid #e6e6e6;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 82px;

  .progress {
    width: 100%;
    position: absolute;
    top: 0;
    height: 2px;
  }

  .photo {
    width: 112px;
    height: 100%;

    .image {
      width: 82px;
      height: 82px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      background-color: $background-gray-dark;
    }
  }

  .content {
    flex: 1;
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    padding-right: 64px;

    .title {
      font-size: 16px;
      width: 100%;
    }

    .description {
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }
  }

  .details {
    align-self: center;
    width: 142px;
    height: 100%;
  }

  &:hover {
    background-color: $background-gray;
  }
}
