@import '../Styles/core/_colors';

.headerButton {
  display: inline-flex;
  width: 80px;
  max-width: 90px;
  height: 100%;
  justify-content: center;
  align-self: center;
  color: $primary-color;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  > span {
    align-self: center;
    text-transform: uppercase;
  }

  &:hover,
  &.active {
    background-color: $primary-color;
    color: $primary-color-text;
  }
}

.loader {
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 5px;
  top: 0;
  left: 0;

  &.circular {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.item_dialog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Roboto Condensed, sans-serif;
  min-width: 576px;

  .header {
    display: flex;
    flex-direction: row;
    background: $color_gray_light;
    padding: 8px 16px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 2px 7px -3px;

    .person {
      flex: 1;
      display: flex;
      flex-direction: row;
      padding-right: 16px;
      align-items: center;
      color: $color_gray_dark;

      .avatar {
        width: 50px;
        height: 50px;
        margin-right: 16px;
        min-width: 50px;
      }
    }

    .products {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .exit {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: 24px;

    .images {
      display: flex;
      flex-direction: column;
      margin: 20px 20px 20px 0;
      position: relative;

      .photos {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        overflow-y: auto;
        position: relative;
        max-height: 450px;
        transition: all 0.2s ease-in-out;

        div:not(:last-child) {
          margin-bottom: 20px;
        }

        .photo {
          cursor: pointer;
          width: 160px;
          height: 90px;
          border: 0.5px solid #e6e6e6;
          min-width: 160px;
          min-height: 90px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50%;
        }

        &.padding_images {
          padding-bottom: 50px;
        }
      }

      .content_button {
        cursor: pointer;
        width: 100%;
        min-height: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: $primary-color;
        transition: all 0.4s ease-in-out;
        position: absolute;
        bottom: 0;

        span {
          text-transform: uppercase;
        }

        &:hover {
          background-color: #00abc1;
        }

        &.hidden_content {
          min-height: 0px;
          opacity: 0;
          height: 0;
        }
      }
    }

    .data {
      display: inline-block;
      flex-direction: column;
      padding: 0px 8px;
      width: 100%;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
      box-shadow: 0 2px 7px -2px rgba(0,0,0,.498039);
      padding-right: 24px;
      color: $color_gray_dark_text;
      padding: 28px;
      text-transform: uppercase;
      overflow: auto;

      .title,
      .discount,
      .info,
      .description,
      .tags,
      .media {
        padding-bottom: 16px;
      }

      .title {
        display: flex;
        flex-direction: row;

        .text {
          font-size: 28px;
          flex: 1;
          text-transform: uppercase;

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 0;
          padding-right: 16px;
        }
      }

      .discount {
        display: flex;
        flex-direction: row;

        .value,
        .promo {
          padding-right: 16px;
        }

        .value {
          flex-grow: 2;
        }

        .promo {
          flex-grow: 1;
        }
      }

      .tags {
        display: inline-block;
        :first-child {
          margin-left: 0px;
        }
      }

      .info {
        display: flex;
        flex-direction: row;

        .city,
        .category {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          padding-right: 16px;
          color: $primary-color;
          text-transform: uppercase;

          span {
            font-weight: 600;
            color: $color_gray_dark_text;

            &:after {
              content: ' '
            }
          }
        }

        .city {
          flex: 1;
        }

        .category {
          flex: 1;
        }
      }

      .description {
        font-size: 18px;
        font-weight: 100;
        max-height: 120px;
        overflow: hidden;
        overflow-y: auto;
        color: $color_gray_dark;
      }

      .connect {
        color: $color_gray_dark_text;
      }

      .media {
        display: block;

        .social_item {
          display: inline-flex;
          align-items: center;
          cursor: pointer;
          padding: 4px 0px;
          width: 50%;
          text-transform: uppercase;
          color: $color_gray_dark_text;
          transition: all 0.4s ease-in-out;
          filter: grayscale(100%);

          &:hover {
            filter: none;
          }

          :first-child {
            padding-right: 8px;
          }
        }
      }

      .other {

      }

      &.hidden {
        z-index: -1;
        opacity: 0;
        width: 0;
        height: 0;
        padding: 0;
      }
    }

    .preview {
      width: 100%;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
      box-shadow: 0 2px 7px -2px rgba(0,0,0,.498039);
      padding: 20px;

      .photo {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        height: 100%;
        transition: background-image 0.4s ease-in-out;
      }

      &.hidden {
        z-index: -1;
        opacity: 0;
        width: 0;
        height: 0;
      }
    }
  }
}

.tag {
  border: 10px;
  box-sizing: border-box;
  display: inline-flex;
  font-family: Roboto Condensed, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: default;
  text-decoration: none;
  margin: 4px;
  padding: 0px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  background-color: #e7e7e7;
  border-radius: 16px;
  white-space: nowrap;
  width: -webkit-fit-content;
  transition: background-color 0.2s ease-in-out;
  align-items: center;

  .name {
    color: #141414;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 12px;
    white-space: nowrap;
    user-select: none;
    transition: color 0.2s linear;
    opacity: 0.7;
    font-family: Roboto Condensed, sans-serif;
  }
  &.selected {
    background-color: $accent-color;
    .name {
      color: #fff;
      opacity: 1;
    }
    svg {
      fill: #fff !important;
    }
  }
  &.selectable {
    cursor: pointer;
    &:not(.selected):hover {
      background-color: #c7c7c7;
    }
  }
  &.small {
    .name {
      font-size: 8px;
      line-height: 18px;
    }
  }
  svg {
    fill: #000;
    transition: fill 0.2s linear;
  }
}
.new_tag {
  border: 10px;
  box-sizing: border-box;
  display: inline-flex;
  font-family: Roboto Condensed, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: default;
  text-decoration: none;
  margin: 4px;
  padding: 0px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  background-color: #007cd9;
  border-radius: 16px;
  white-space: nowrap;
  width: -webkit-fit-content;
  transition: background-color 0.2s ease-in-out;
  align-items: center;
  font-weight: 400;
  line-height: 26px;
  padding-left: 12px;
  padding-right: 12px;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  height: 26px;
  &.focused {
    background-color: #f2f2f2;
    padding-right: 4px;
  }
  .input {
    display: flex;
    flex-direction: row;
    input {
      border: none;
      outline: none;
      background: transparent;
      color: #141414;
      padding-right: 4px;
    }
    .send {
      width: 24px;
      height: 24px;
      margin: 0;
      > div {
        margin: auto;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #aaaaaa;
        border-radius: 50%;
        width: 70%;
      }
    }
  }
  .name {
    color: #fff;
    transition: color 0.2s linear;
  }
}

.price {
  max-width: 140px;
  padding: 4px 8px;
  background-color: $accent-color;
  color: #fff;
  font-size: 18px;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 600;
  border-radius: 2px;
}

.image {
  background: $color_gray_medium;
}

.scrollable {
  display: flex;
  flex-direction: column;
  height: 100%;

  .shadow {
    height: 4px;
    width: 100%;
    z-index: 3;
    min-height: 4px;
    margin-top: -4px;
  }

  .items {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    z-index: 2
  }
}

.menu {
  width: 250px;
  min-width: 250px;
  background-color: $background-gray;
  overflow-y: scroll;
}
